<div class="container">
    <div class="wrap">
        <div class="header">
            <div class="header__title">
                <mat-icon class="header__title_icon">perm_identity</mat-icon>
                <h2>Passengers</h2>
            </div>
           <p class="header__text">Enter the passenger's names as they appear on document (passport or ID). </p>
        </div>
      <div class="forms">
          <div *ngIf="passengers?.passengers?.adult?.count!==0">
               <p>1.Adults</p>
               <app-passenger-form  *ngFor="let f of [].constructor(passengers?.passengers?.adult?.count), let id = index"
                                    [typeOfPassenger]="'adult'"
                                    [isSubmitted] = "isSubmitted"
                                    [id] = "id"
                                    (errorEmit)="getError($event)"
                                    (passengerInfo)="getPassengerInfo($event)"/>
          </div>
          <div *ngIf="passengers?.passengers?.child?.count!==0">
            <p>2.Childs</p>
            <app-passenger-form  *ngFor="let f of [].constructor(passengers?.passengers?.adult?.count), let id = index"
                                 [typeOfPassenger]="'child'"
                                 [isSubmitted] = "isSubmitted"
                                 [id] = "id"
                                 (errorEmit)="getError($event)"/>
          </div>
          <div *ngIf="passengers?.passengers?.infant?.count!==0">
            <p>3.Infants<p>
                <app-passenger-form  *ngFor="let f of [].constructor(passengers?.passengers?.adult?.count), let id = index"
                                     [typeOfPassenger]="'infant'"
                                     [isSubmitted] = "isSubmitted"
                                     [id] = "id"
                                     (errorEmit)="getError($event)"/>
          </div>
      </div>
      <div class="btns-block">
        <button mat-raised-button (click)="back(true)">Back</button>
        <button mat-raised-button color="primary" (click)="back(false)">Continue</button>
      </div>
    </div>
  </div>
