.wrap {
  padding: 0 30px;
  padding-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: left;

  &__title {
    display: flex;
    gap: 8px;
    align-items: center;

    h2 {
      margin: 0;
      padding: 0;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      color: #11397e;
    }
  }

  &__text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #49454f;
  }
}

.forms {
  &__title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
    color: #11397e;
  }
}

.btn-block {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.mdc-button {
  width: 126px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--app-root-blue);
}

.mat-mdc-unelevated-button:not(:disabled) {
  color: var(--app-root-blue);
  background-color: transparent;
}
