.wrap {
  padding: 0 30px;
  padding-bottom: 30px;
}

.btns-block {
  display: flex;
  gap: 20px;
  justify-content: right;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: left;

  &__title {
    display: flex;
    gap: 8px;
    align-items: center;

    h2 {
      margin: 0;
      padding: 0;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      color: #11397e;
    }
  }

  &__text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #49454f;
  }
}

.forms {
  &__title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
    color: #11397e;
  }
}
