:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding-top: 128px;
  padding-bottom: 99px;
}

.main__cart-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1128px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}

.main__cart-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 88px;
  padding-left: 31px;
}

.main__cart-text {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  color: #11397e;
}

.main__cart-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1128px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 889px) {
    width: 100%;
    overflow: scroll;
    align-items: flex-start;
  }
}

.main__table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
  border: 0.5px solid #E9EDF1;

  @media screen and (max-width: 889px) {
    width: auto;
  }
}

.main__table-header {
  display: flex;
  width: 87%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1039px) {
    width: 93%;
  }

  @media screen and (max-width: 889px) {
    width: 815px;
    margin-left: 10px;
  }
}

mat-icon {
  display: block;
  font-family: 'Material Icons', sans-serif;
  cursor: pointer;
  display: block;
  font-family: "Material Icons";
}

.main__table-naming {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.main__table-naming:nth-child(1) {
  //width: 11%;
  flex-basis: 12%;
}

.main__table-naming:nth-child(2) {
  //width: 10%;
  flex-basis: 14%;
}

.main__table-naming:nth-child(3) {
  //width: 13%;
  flex-basis: 13%;
}

.main__table-naming:nth-child(4) {
  //width: 18%;
  flex-basis: 20%;
}

.main__table-naming:nth-child(5) {
  //width: 10%;
  flex-basis: auto;
}

.main__table-naming:nth-child(6) {
  //width: 7%;
  flex-basis: 8%;
}

.main__table-text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  color: #74767A;

  @media screen and (max-width: 989px) {
    font-size: 16px;
  }
}

.main__table-arrows {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  justify-content: flex-start;
  width: 16px;
  height: 27px;
}

.main_first-text {
  margin-top: 2px;
}

.main_next-text {
  margin-top: -7px;
}

.main__arrow-up,
.main__arrow-down {
  margin-top: 1px;
  font-size: 12px;
  color: #11397e;
}

.main__cart-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 124px;
  padding: 0 34px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 389px) {
    flex-direction: column;
    justify-content: space-around;
  }
}

.main__new-trip {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 121px;
  height: 28px;
  background: #f4f6f9;
  border: none;
  border-radius: 4px;
}

.main__new-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #11397e;
  letter-spacing: 0.1px;
}

.main__amount-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  min-width: 178px;
  height: 36px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 389px) {
    justify-content: space-around;
  }
}

.main__amount-text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  color: #000000;

  @media screen and (max-width: 499px) {
    font-size: 16px;
  }
}

.main__amount-count {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  background: linear-gradient(90deg, #11397e 0%, #005abc 100%);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;

  @media screen and (max-width: 499px) {
    font-size: 18px;
  }
}

.main__cart-separator {
  transform: matrix(1, 0, 0, -1, 0, 0);
  align-self: center;
  width: 95%;
  max-width: 1040px;
  height: 2px;
  background: #e1e5eb;
}

.main__cart-payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 139px;
  box-sizing: border-box;
  padding: 0 28px;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 559px) {
    padding: 0 10px;

    @media screen and (max-width: 489px) {
      flex-direction: column;
      padding: 5px 10px;
    }
  }
}

.main__promo-wrapper {
  width: 50%;
  max-width: 374px;
  height: 48px;
  border: 1px solid;
  border-radius: 4px;

  @media screen and (max-width: 489px) {
    width: 220px;
  }

  .mat-mdc-form-field-flex {
    margin-top: 15px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #74767a;
    letter-spacing: 0.5px;
  }

  .main__promo-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 28px;
    margin-top: -4px;
    margin-right: 7px;
    background-color: transparent;
    border: none;

    .main__button-text {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      line-height: 20px;
      color: #11397e;
      letter-spacing: 0.1px;
    }
  }

  .mat-focused {
    display: none;
  }
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none;
}

.mdc-line-ripple::after,
.mdc-line-ripple::before {
  display: none;
}

.mdc-floating-label.mat-mdc-floating-label {
  margin-top: -3px;
}

.main__payment-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 889px) {
    width: 220px;
  }
}

.main__payment-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #74767a;
  letter-spacing: 0.5px;
}

.main__payment-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 60px;
  background: #11397e;
  border: none;
  border-radius: 4px;
}

.main__btn-return {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 226px;
  height: 60px;
  background: #11397e;
  border: none;
  border-radius: 4px;
}

.main__payment-btn,
.main__return-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0.1px;
}

.main__account-return {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 139px;
}
