<div class="login">
    <button mat-raised-button >Continue with Google</button>
    <button mat-raised-button >Continue with Facebook</button>
    <div class="login_text">
        <span>or log in with your email</span>
    </div>
    <form [formGroup]="logInForm" (submit)="submit()">
        <div class="form-group">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type="email" matInput  formControlName="email"
                     placeholder="Your email..." (keyup)="isCorrectEmail=false">
              <mat-error *ngIf="logInForm.controls['email'].errors?.['required'] ">
                Please enter email
              </mat-error>
            </mat-form-field>
            <div *ngIf="isCorrectEmail" class="error">
                User not exist
               </div>
              <mat-form-field>
              <mat-label>Password</mat-label>
              <input [type]="hide ? 'password' : 'text'" matInput  formControlName="password" 
              placeholder="Your password..." (keyup)="isCorrectPassword=false">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="logInForm.controls['password'].errors?.['required']">
                Please enter a password
              </mat-error>
            </mat-form-field>
            <div *ngIf="isCorrectPassword" class="error">
                Wrong password
              </div>
          <div class="form-group__forgot">
            <button mat-button color="primary" type="button" *ngIf="!isCorrectEmail">Forgot password?</button>
          </div>
          <button mat-raised-button color="primary" type="submit" >Log In</button>
         </div>
    </form>
</div>
