.form-group {
  display: flex;
  flex-direction: column;

  &__forgot {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 10px;
  }

  .error {
    margin-top: -20px;
    color: red;
  }
}

.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  &__btn {
    display: flex;
    gap: 10px;
    align-items: center;

    p {
      margin: 0;
      margin-top: 3px;
      padding: 0;
    }
  }

  &_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    span {
      width: max-content;
    }

    &::before,
    &::after {
      content: "";
      width: 30%;
      height: 1px;
      background-color: rgb(0 0 0 / 15.1%);
    }
  }
}
