.form-group {
  position: relative;
  display: flex;
  gap: 20px;
  padding-bottom: 20px;

  &__gender {
    display: flex;
    align-items: stretch;
    width: 215px;
    height: 58px;

    .mat-mdc-raised-button {
      height: 100%;
    }

    &_cont {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      width: 50%;
      border: 1px solid gray;

      &:first-child {
        border-right: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

.sign-in {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  &__btn {
    display: flex;
    gap: 10px;
    align-items: center;

    p {
      margin: 0;
      margin-top: 3px;
      padding: 0;
    }
  }

  &_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    span {
      width: max-content;
    }

    &::before,
    &::after {
      content: "";
      width: 30%;
      height: 1px;
      background-color: rgb(0 0 0 / 15.1%);
    }
  }
}

.mat-mdc-form-field {
  margin-bottom: -14px;
}

.clue {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);
  width: 200px;
  padding: 10px;
  background-color: white;
}

.clue2 {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 25%;
  transform: translate(0, -50%);
  width: 200px;
  padding: 10px;
  background-color: white;
}

.wrapper-pas {
  width: 100%;
  padding: 5px;
}
