:host {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (width <= 889px) {
    width: 825px;
  }
}

.main__table-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1096px;
}

.main__table-record {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  min-height: 155px;
  border-bottom: 2px solid rgb(116 118 122 / 20%);

  @media screen and (width <= 889px) {
    min-width: 825px;
  }
}

.main__sixth-record {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.main__second-record,
.main__forth-record,
.main__fifth-record {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main__first-record,
.main__third-record {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__first-record:nth-child(1) {
  //width: 11%;
  flex-basis: 15%;
}

.main__second-record:nth-child(2) {
  //width: 10%;
  flex-basis: 18%;
}

.main__third-record:nth-child(3) {
  //width: 13%;
  flex-basis: 13%;
}

.main__forth-record:nth-child(4) {
  //width: 18%;
  flex-basis: 26%;
}

.main__fifth-record:nth-child(5) {
  //width: 10%;
  flex-basis: 15%;
}

.main__sixth-record:nth-child(6) {
  //width: 7%;
  flex-basis: 13%;
}

.main__record-checkbox {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #0090bd;
  letter-spacing: 0.5px;

  @media screen and (width <= 989px) {
    font-size: 16px;
  }
}

.main__record-text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 32px;
  color: #74767a;
  letter-spacing: 0.5px;

  @media screen and (width <= 989px) {
    font-size: 16px;
  }
}

.main__record-price {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 32px;
  color: #7f8906;
  letter-spacing: 0.5px;

  @media screen and (width <= 989px) {
    font-size: 16px;
  }
}
