<div class="main__table-block">
  <div class="main__table-record">
    <div class="main__first-record">
      <mat-checkbox *ngIf="isShoppingRecord"  [(ngModel)]="check" (ngModelChange)="onChecked()"></mat-checkbox>
      <span class="main__record-checkbox">{{ cartFlight.forward.flightNumber }}</span>
    </div>
    <div class="main__second-record">
      <span *ngFor="let direction of flight" class="main__record-text">{{ direction }}</span>
    </div>
    <div class="main__third-record">
      <span class="main__record-text">{{type}}</span>
    </div>
    <div class="main__forth-record">
      <span *ngFor="let date of date" class="main__record-text">{{date}}</span>
    </div>
    <div class="main__fifth-record">
      <span *ngFor="let passenger of passengers" class="main__record-text">{{passenger}}</span>
    </div>
    <div class="main__sixth-record">
      <span class="main__record-price">{{price}}</span>
      <button mat-icon-button *ngIf="isShoppingRecord" [matMenuTriggerFor]="recordEdit">
        <mat-icon class="main__menu-icon">more_vert</mat-icon>
      </button>
      <mat-menu #recordEdit="matMenu" class="main__record-menu">
        <button mat-menu-item class="main__item-menu" (click)="deleteItem()">Delete</button>
        <button mat-menu-item class="main__item-menu" (click)="editItem()">Edit</button>
      </mat-menu>
    </div>
  </div>
</div>
