:host {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 16px 20px 24px;
  flex-direction: column;
  gap: 12px;
}

.main__passenger-summary {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-left: 28px;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 4px;
}

.main__passenger-name {
  align-self: flex-start;
  text-transform: uppercase;
}

.main__passenger-name,
.main__baggage,
.main__seat-place {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #000000;
}
