<div *ngIf="flights$ | async as flight">
  <div class="title">
    <mat-icon class="forward">airplanemode_active</mat-icon>
    {{ flight.from.form.city }} to {{ flight.from.to.city }}
  </div>
  <div class="ticket-block">
    <app-calendar [isForward]="true"></app-calendar>
  </div>
  <div *ngIf="isRoundTrip()">
    <div class="title">
      <mat-icon class="return">airplanemode_active</mat-icon>
      {{ flight.destination.form.city }} to {{ flight.destination.to.city }}
    </div>
    <div class="ticket-block">
      <app-calendar [isForward]="false"></app-calendar>
    </div>
  </div>
</div>
<div class="btn-block">
  <button class="back-btn" mat-flat-button (click)="back(true)">Back</button>
  <button mat-button type="button" (click)="back(false)" [disabled]="!isSelected()">Continue</button>
</div>
