<div *ngIf="flights$ | async as flight">
  <div class="title">
    <mat-icon class="forward">airplanemode_active</mat-icon>
    {{ flight.from!.nameEn }} to {{ flight.destination!.nameEn }}
  </div>
  <div class="ticket-block">
    <app-calendar [isForward]="true"></app-calendar>
    <app-flight-info></app-flight-info>
  </div>
  <div class="title">
    <mat-icon class="return">airplanemode_active</mat-icon>
    {{ flight.destination!.nameEn }} to {{ flight.from!.nameEn }}
  </div>
  <div class="ticket-block">
    <app-calendar [isForward]="false"></app-calendar>
    <!--<app-flight-info></app-flight-info>-->
  </div>
</div>
