.wrap {
  padding: 0 135px;
  padding-bottom: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--app-root-blue);
}

.ticket-block {
  flex: 1 0 auto;
  height: auto;
  margin-bottom: 24px;
}

.forward {
  rotate: 90deg;
}

.return {
  rotate: -90deg;
}

.btns-block {
  display: flex;
  gap: 20px;
  justify-content: right;
}

.btn-block {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.mdc-button {
  width: 126px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--app-root-blue);
}

.mat-mdc-unelevated-button:not(:disabled) {
  color: var(--app-root-blue);
  background-color: transparent;
}
