<div class="calendar">
  Calendar
</div>
<div class="flight-info">
  <div class="flight-info__time">
    <div class="start-time">
      <div class="date">Wed, 1 Mar 2023</div>
      <div class="time">8:40</div>
      <div class="location">Dublin</div>
    </div>
    <div class="direction">
      <div>2h 50min</div>
      <div class="icon-block">
        <div class="airplane"></div>
      </div>
      <div>Direct</div>
    </div>
    <div class="end-time">
      <div class="date">Wed, 1 Mar 2023</div>
      <div class="time">12:00</div>
      <div class="location">Warsaw Modlin</div>
    </div>
    <div class="number">Flight no. 1925</div>
  </div>
  <div class="divider"></div>
  <div class="flight-info__price">
    <div class="price-block">
      <div class="seats">
        <div class="seats-number">100 seats</div>
        <span>available</span>
      </div>
      <div class="price-title">Price</div>
      <div class="price">146.70</div>
    </div>
    <div class="submit-block">
      <button class="select-btn">Select</button>
    </div>
  </div>
</div>
