.main {
  position: absolute;
  z-index: 1000;
  inset: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(0 0 0 / 22.6%);
}

.content {
  position: relative;
  width: 31%;
  height: fit-content;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 4px;

  @media screen and (width <= 889px) {
    width: 50%;
  }

  @media screen and (width <= 559px) {
    width: 80%;
  }
}

.close_btn {
  position: absolute;
  top: -35px;
  right: -35px;
}
