.main{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 9000;
}
.content{
    width: 50%;
    background-color: white;
    padding: 20px;
    position: relative;
    margin-top: 80px;
    height: fit-content;
    border-radius: 4px;
}
.close_btn{
    position: absolute;
    right: -35px;
    top: -35px;
}

