:host {
  display: block;
  width: 162px;
  height: 40px;
}

.mat-mdc-select {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 40px;
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.5px;
  background: rgb(241 243 246 / 15%);
  border: 0.5px solid #cecece;
  border-radius: 4px;
}

.mat-mdc-select-trigger {
  height: 40px;
}

.mat-mdc-select-value {
  margin-left: 16px;
}

.mat-mdc-select-arrow-wrapper {
  margin-right: 17.33px;
}

.mat-mdc-select-value-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal {
  width: 12px;
  height: 9px;
}
