:host {
  position: absolute;
  z-index: 1000;
  display: block;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
  background-color: rgb(116 118 122 / 20%);
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  gap: 17px;
  justify-content: space-between;
  width: 100%;
  max-width: 1128px;
  height: 40px;
  margin: 0 auto;

  @media screen and (width <= 1188px) {
    box-sizing: border-box;
    padding: 0 15px;

    @media screen and (width <= 709px) {
      flex-direction: column;
      gap: unset;
      align-items: center;
      height: 80px;
    }
  }
}

.header__info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: space-between;
  width: 60%;

  @media screen and (width <= 459px) {
    display: none;
  }
}

.header__logo {
  width: 130.67px;
  height: 40px;
}

.header__logo-image {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.header__steps-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 82%;
  max-width: 532px;
  height: 40px;
}

.header__menu-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  min-width: 450px;

  @media screen and (width <= 459px) {
    flex-direction: column;
    gap: 2px;
    justify-content: center;
  }
}

.header__menu-service {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  min-width: 242px;
}

.header__account-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 174px;
  padding-right: 16px;
}

.header__steps-info {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.5px;
}
