.header__steps-block {
  width: 100%;
  min-height: calc(100vh - 185px);
  padding-top: 88px;
  background-color: #fafafa;
}

.main__booking-editor {
  position: relative;
  width: 100%;
  height: 40px;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (width <= 1150px) {
    box-sizing: border-box;
    width: 98%;
    padding: 88px 10px;
  }
}
