<div class="header__step">
  <div class="header__step-icon">
    <img class="header__step-image" [src]="first" alt="">
  </div>
  <span class="header__step-text">Flights</span>
</div>
<div class="header__step-separator"></div>
<div class="header__step">
  <div class="header__step-icon">
    <img class="header__step-image" [src]="second" alt="">
  </div>
  <span class="header__step-text">Passengers</span>
</div>
<div class="header__step-separator"></div>
<div class="header__step">
  <div class="header__step-icon">
    <img class="header__step-image" [src]="third" alt="">
  </div>
  <span class="header__step-text">Review & Payment</span>
</div>
