<div class="calendar" *ngIf="!isSelected">
  <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="{ infinite: false, slidesToShow: 5, slidesToScroll: 1 }">
    <div ngxSlickItem
      *ngFor="let date of dates"
      class="slide"
      >  <!-- (click)="slideClick(date.flight)"
        [ngClass]="isCurrentDate(date) ? 'active' : ''"
      -->
        <div class="date-slide" *ngIf="date.flight; else flightNotFound">
          <div class="date">{{ date.date | date: 'd MMM' }}</div>
          <div class="day">{{ date.date | date: 'EEEE' }}</div>
          <div class="price">{{ date.flight.price }}</div>
        </div>
        <ng-template #flightNotFound>
          <div class="date-slide">
            <div class="date-blocked">{{ date.date | date: 'd MMM' }}</div>
            <div class="day-blocked">{{ date.date | date: 'EEEE' }}</div>
            <div class="price-blocked"></div>
          </div>
        </ng-template>
    </div>
  </ngx-slick-carousel>
</div>
<!--<app-flight-info (selectEvent)="selectFlight($event)" [flightData]="flightData" [from]="from" [destination]="destination"></app-flight-info>-->
