.flight-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-height: 130px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);

  &__time {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
    width: 70%;
    padding: 27px;

    @media screen and (width <= 999px) {
      width: 50%;
    }

    @media screen and (width <= 380px) {
      padding: 7px;
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 15px 0 15px 27px;
    text-align: end;

    @media screen and (width <= 999px) {
      width: 50%;
    }

    @media screen and (width <= 799px) {
      flex-direction: column;
      padding: 0;
    }
  }
}

.right-block {
  width: 30%;
}

.end-time {
  text-align: right;
}

.start-time,
.direction,
.end-time {
  align-self: center;
  width: 100%;

  .date {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;

    @media screen and (width <= 448px) {
      font-size: 12px;
    }
  }

  .location {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.4px;
  }

  .time {
    margin: 4px 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    @media screen and (width <= 554px) {
      font-size: 20px;
    }
  }
}

.number {
  width: 70%;
  display: flex;
  align-items: center;

  @media screen and (width <= 799px) {
    width: auto;
  }

  @media screen and (width <= 449px) {
    display: none;
  }
}

.direction {
  flex-shrink: 0;
  width: 100%;
  max-width: 280px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;

  :nth-child(1) {
    @media screen and (width <= 409px) {
      display: none;
    }
  }

  :nth-child(3) {
    @media screen and (width <= 409px) {
      display: none;
    }
  }

  @media screen and (width <= 999px) {
    width: auto;
    max-width: unset;
  }

  @media screen and (width <= 799px) {
    width: auto;
    max-width: unset;
  }
}

.icon-block {
  position: relative;
  width: 100%;
  min-width: 5px;
  height: 2px;
  margin: 20px 0 15px;
  background-color: gray;

  .airplane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 40px;
    height: 24px;
    background-color: white;
    background-image: url("../../../../assets/airplane_takeoff.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (width <= 409px) {
      display: none;
    }
  }
}

.divider {
  width: 2px;
  border-left: 2px dashed #d0d9df;
}

.select-btn {
  cursor: pointer;
  width: 78px;
  height: 36px;
  color: white;
  background: linear-gradient(108.75deg, #0090bd 59.91%, #073590 95.36%);
  border: none;
  border-radius: 4px;
}

.edit-btn {
  cursor: pointer;
  width: 44px;
  height: 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #11397e;
  background: #f4f6f9;
  border: none;
  border-radius: 4px;
}

.price-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1px;

  @media screen and (max-width: 799px) {
    align-items: center;
  }

  .seats {
    padding: 5px;
    color: gray;
    border-radius: 2px;
  }

  .price-title {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: gray;
  }

  .price {
    color: var(--app-root-blue);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    @media screen and (width <= 448px) {
      font-size: 20px;
    }
  }

  @media screen and (width <= 799px) {
    align-items: center;
  }
}

.submit-block {
  width: 100%;
  text-align: center;
}

.flight-not-block {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: center;

  @media screen and (width <= 410px) {
    font-size: 25px;
  }
}

.flight-img {
  width: 45px;
  height: 45px;
  background-image: url("../../../../assets/flight-blocked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
