<div class="flight-info" *ngIf="flightData as flight; else flightNotFound">
  <div class="flight-info__time">
    <div class="start-time">
      <div class="date">{{ flight.takeoffDate| date:'EE, d MMM yyyy' }}</div>
      <div class="time">{{ flight.takeoffDate | date: 'HH:mm' }}</div>
      <div class="location">{{ from.city }}</div>
    </div>
    <div class="direction">
      <div>{{ getDuration(flight.takeoffDate, flight.landingDate) }}</div>
      <div class="icon-block">
        <div class="airplane"></div>
      </div>
      <div>Direct</div>
    </div>
    <div class="end-time">
      <div class="date">{{ flight.landingDate | date:'EE, d MMM yyyy' }}</div>
      <div class="time">{{ flight.landingDate | date:'HH:mm' }}</div>
      <div class="location">{{ destination.city }}</div>
    </div>
    <div class="number">Flight no. {{ flight.flightNumber }}</div>
  </div>
  <div class="divider" *ngIf="!isSelected"></div>
  <div class="flight-info__price">
    <div class="price-block">
      <div class="seats" *ngIf="!isSelected" [appSeats]="flight.seats">
        <div class="seats-number">{{ flight.seats.avaible }} seats</div>
        <span>available</span>
      </div>
      <div class="price-title" *ngIf="!isSelected">Price</div>
      <div class="price" [appCurrency]="flight.price"></div>
    </div>
    <div class="submit-block" *ngIf="!isSelected; else editBtn">
      <button class="select-btn" (click)="selectFlight(flight)">Select</button>
    </div>
  </div>
</div>

<ng-template #flightNotFound>
  <div class="flight-info">
    <div class="flight-not-block">
      <div class="flight-img"></div>
      <span>No flights available</span>
    </div>
  </div>
</ng-template>

<ng-template #editBtn>
  <div class="submit-block">
    <button class="edit-btn" (click)="selectFlight(undefined)">Edit</button>
  </div>
</ng-template>
