/*.page-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  height: 92px;
  flex: 0 0 auto;
}
*/

.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 92px;
}

.footer {
  background-color: #D0D9DF;
  height: 92px;
  margin-top: -92px;
}
