.content {
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 87px;
}

.page-wrap {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #D0D9DF;
  border-top: 2px solid #E3E4E4;
  height: 92px;
  margin-top: -92px;
}
