<div class="main__summary-wrapper">
  <div class="main__summary-title">
    <div class="main__summary-image">
      <img class="main__summary-icon" ngSrc="./assets/summary.svg" alt="" height="24" width="24">
    </div>
    <span class="main__summary-text">Summary</span>
  </div>
  <div class="main__summary-tickets">
    <ng-container #container></ng-container>
  </div>
  <div class="main__summary-amount">
    <ng-container #summary></ng-container>
  </div>
  <div class="main__summary-control">
    <div class="main__control-wrapper">
      <div class="main__back-wrapper">
        <span class="main__control-back">Back</span>
      </div>
      <button class="main__add-card">
        <span class="main__add-text">Add to order cart</span>
      </button>
      <button class="main__buy-now">
        <span class="main__buy-text" (click)="buy()">Buy now</span>
      </button>
    </div>
  </div>
</div>
