:host {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 1160px;
  background-color: #b4b4b4;
}

.main__summary-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1128px;
}

.main__summary-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  align-self: flex-start;
  justify-content: flex-start;
}

.main__summary-image {
  width: 24px;
  height: 24px;
}

.main__summary-icon {
  width: 100%;
  height: 100%;
}

.main__summary-text {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  color: #11397e;
}

.main__summary-tickets {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}

.main__summary-amount {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 30px;
}

.main__summary-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 40px;
}

.main__control-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  max-width: 503px;
  height: 60px;
}

.main__back-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 60px;
}

.main__control-back {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #11397e;
  letter-spacing: 0.1px;
}

.main__add-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 60px;
  border: 1px solid #11397e;
  border-radius: 4px;
}

.main__add-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #11397e;
  letter-spacing: 0.1px;
}

.main__buy-now {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 60px;
  background: #11397e;
  border: none;
  border-radius: 4px;
}

.main__buy-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0.1px;
}
