<div class="form__wrap">
  <form [formGroup]="flightSearchForm" (submit)="search()">
    <div class="radio">
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let type of flightTypes" [value]="type.value" [checked]="type.checked">
          <span class="radio__title">{{type.value | titlecase}}</span>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="select">
      <div class="switch-btn" (click)="switchFlights()"><mat-icon>compare_arrows</mat-icon></div>
      <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <mat-select [formControlName]="'from'" placeholder="Choose your from" (selectionChange)="setFromFlight($event.value)">
          <mat-option *ngFor="let item of countries" [value]="item">
            {{item.nameEn}} ({{ item.abbreviation }})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Destination</mat-label>
        <mat-select [formControlName]="'destination'" placeholder="Choose your destination" (selectionChange)="setDestinationFlight($event.value)">
          <mat-option *ngFor="let item of countries" [value]="item">
            {{item.nameEn}} ({{ item.abbreviation }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="date-passengers">
      <div class="date">
        <mat-form-field appearance="fill">
          <mat-label>Dates</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [formControlName]="'startDate'" placeholder="Start date">
            <input matEndDate [formControlName]="'endDate'" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="passengers">
        <div class="focus-btn"><mat-icon (click)="toggleFocus()">arrow_drop_down</mat-icon></div>
        <mat-form-field appearance="fill">
          <mat-label>Passengers</mat-label>
          <input matInput #passengersInput="matInput" (click)="toggleFocus()" type="text" readonly [formControlName]="'passengers'">
        </mat-form-field>
        <div class="passengers-options" *ngIf="isFocused || passengersInput.focused">
          <div class="option">
            <div class="title">
              <span class="option-title">Adults</span>
              <span class="option-span">14+ years</span>
            </div>
            <div class="option__control">
              <button class="option__btn" type="button" [disabled]="passengers.adult.count <= 0" (click)="decrement('adult')">-</button>
              <span class="option__count">{{ passengers.adult.count }}</span>
              <button class="option__btn" type="button" (click)="increment('adult')">+</button>
            </div>
          </div>
          <div class="option">
            <div class="title">
              <span class="option-title">Child</span>
              <span class="option-span">2-14 years</span>
            </div>
            <div class="option__control">
              <button class="option__btn" type="button" [disabled]="passengers.child.count <= 0" (click)="decrement('child')">-</button>
              <span class="option__count">{{ passengers.child.count }}</span>
              <button class="option__btn" type="button" (click)="increment('child')">+</button>
            </div>
          </div>
          <div class="option">
            <div class="title">
              <span class="option-title">Infant</span>
              <span class="option-span">0-2 years</span>
            </div>
            <div class="option__control">
              <button class="option__btn" type="button" [disabled]="passengers.infant.count <= 0" (click)="decrement('infant')">-</button>
              <span class="option__count">{{ passengers.infant.count }}</span>
              <button class="option__btn" type="button" (click)="increment('infant')">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="search__btn">
      <button mat-button [disabled]="!flightSearchForm.valid" type="submit">Search</button>
    </div>
  </form>
</div>
