<div class="form__wrap">
  <form [formGroup]="flightSearchForm" (submit)="search()">
    <div class="radio">
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let type of flightTypes" [value]="type.value" [checked]="type.checked">
          <span class="radio__title">{{type.value}}</span>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="select">
      <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <mat-select [formControlName]="'from'" required>
          <mat-option value="Choose your from" disabled [ngStyle]="{ display: 'none' }">Choose your from</mat-option>
          <mat-option *ngFor="let item of test" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Destination</mat-label>
        <mat-select [formControlName]="'destination'" required>
          <mat-option value="Choose your destination" disabled [ngStyle]="{ display: 'none' }">Choose your destination</mat-option>
          <mat-option *ngFor="let item of test" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="date-passengers">
      <div class="date">
        <mat-form-field appearance="fill">
          <mat-label>Dates</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [formControlName]="'startDate'" placeholder="Start date">
            <input matEndDate [formControlName]="'endDate'" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <button class="focus-btn" (click)="foo()">focus</button>
      <div class="passengers">
        <mat-form-field appearance="fill">
          <mat-label>Passengers</mat-label>
          <input matInput #passengersInput="matInput" (focus)="focus()" type="text" readonly [formControlName]="'passengers'">
        </mat-form-field>
        <div class="passengers-options" *ngIf="isFocused || passengersInput.focused">
          <div class="option">
            <div class="title">
              <span class="option-title">Adults</span>
              <span class="option-span">14+ years</span>
            </div>
            <div class="option__control">
              <button class="option__btn" [disabled]="adultCounter <= 0" (click)="adultDecrement()">-</button>
              <span class="option__count">{{ adultCounter }}</span>
              <button class="option__btn" (click)="adultIncrement()">+</button>
            </div>
          </div>
          <div class="option">
            <div class="title">
              <span class="option-title">Child</span>
              <span class="option-span">2-14 years</span>
            </div>
            <div class="option__control">
              <button class="option__btn" [disabled]="childCounter <= 0" (click)="childDecrement()">-</button>
              <span class="option__count">{{ childCounter }}</span>
              <button class="option__btn" (click)="childIncrement()">+</button>
            </div>
          </div>
          <div class="option">
            <div class="title">
              <span class="option-title">Infant</span>
              <span class="option-span">0-2 years</span>
            </div>
            <div class="option__control">
              <button class="option__btn" [disabled]="infantCounter <= 0" (click)="infantDecrement()">-</button>
              <span class="option__count">{{ infantCounter }}</span>
              <button class="option__btn" (click)="infantIncrement()">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="search__btn">
      <button mat-button type="submit">Search</button>
    </div>
  </form>
</div>
