<div class="footer">
  <span class="footer__info">© 2023, AIRWAY. All rights reserved.</span>
  <div class="footer__payment-info">
    <span class="footer__payment-text">We accept these payment methods</span>
    <div class="footer__payment-cards">
      <img class="footer__card-image" src="assets/maestro.svg" alt="">
      <img class="footer__card-image" src="assets/amazon.svg" alt="">
      <img class="footer__card-image" src="assets/express.svg" alt="">
      <img class="footer__card-image" src="assets/visa.svg" alt="">
    </div>
  </div>
</div>
