:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  background-color: #fafafa;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 1120px;
  height: 20px;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (width <= 710px) {
    flex-direction: column;
    align-items: center;
    height: 40px;

    @media screen and (width <= 399px) {
      height: 60px;
      padding: 0 10px;
    }
  }
}

.footer-info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #11397e;
  letter-spacing: 0.25px;
}

.footer__payment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  min-width: 387px;

  @media screen and (width <= 399px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: unset;
  }
}

.footer__payment-text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #000;
  letter-spacing: 0.25px;
}

.footer__payment-cards {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 152px;
}

.footer__card-image {
  width: 32px;
  height: 22px;
}
