<div class="main__booking-edit">
  <div class="main__booking-information">
    <div class="main__direction-wrapper">
      <span class="main__from-direction">Dublin</span>
      <img class="main__direction-icon" src="./assets/airplanes.svg" alt="">
      <span class="main__to-direction">Warsaw Modlin</span>
    </div>
    <div class="main__info-wrapper">
      <span class="main__info-text">Return</span>
      <div class="main__point-separator"></div>
      <span class="main__dates-flight">1Mar - 18 Mar</span>
      <div class="main__point-separator"></div>
      <span class="main__passenger-count">3</span>
      <img class="main__passenger-icon" src="./assets/people.svg" alt="">
    </div>
  </div>
  <button class="main__open-edit" (click)="showBookingEditor()">
    <span class="main__open-text">Edit</span>
  </button>
</div>
