<div class="main__summary-list">
  <div class="main__summary-item" *ngFor="let data of resultArray; let i = index">
    <div class="main__summary-string">
      <span class="main__summary-text">{{data.count}} {{titlesArray[i]}}</span>
      <span class="main__summary-count">€{{data.total | number: '1.0-2'}}</span>
    </div>
    <div class="main__summary-string">
      <span class="main__summary-text">Fare</span>
      <span class="main__summary-count">€{{data.fare | number: '1.0-2'}}</span>
    </div>
    <div class="main__summary-string">
      <span class="main__summary-text">Tax & Service Charge</span>
      <span class="main__summary-count">€{{data.tax | number: '1.0-2'}}</span>
    </div>
  </div>
</div>
<div class="main__summary-total">
  <span class="main__total-text">TOTAL:</span>
  <span class="main__total-price">€{{totalPrice | number: '1.0-2'}}</span>
</div>
