/* You can add global styles to this file, and also import other style files */
.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: white;
}

html,
body {
  margin: 0 auto;
  height: 100%;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.wrapper {
  margin: 0 156px;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.select .mat-mdc-select-arrow {
  visibility: hidden;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

.mat-mdc-form-field .mdc-text-field {
  border: 1px solid gray;
  border-radius: 4px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border: 0;
}

.mdc-line-ripple::before {
  border-top-width: 1px;
}
