<div class="editor">
  <form class="main__booking-editor" *ngIf="flights$ | async as flight">
    <div class="main__input-wrapper">
      <label class="main__input-label" for="from">From</label>
      <div class="main__input-container">
        <input id="from" class="main__editor-input" type="text" [value]="flight.from.form.country">
        <span class="main__input-code">{{ flight.from!.form.key }}</span>
      </div>
    </div>
    <div class="main__input-wrapper">
      <label class="main__input-label" for="to">Destination</label>
      <div class="main__input-container">
        <input id="to" class="main__editor-input" type="text" [value]="flight.from.to.country">
        <span class="main__input-code">{{ flight.from!.to.key }}</span>
      </div>
    </div>
    <div class="main__daypicker-wrapper">
      <mat-form-field appearance="fill">
      <mat-label>Dates</mat-label>
      <mat-date-range-input [formGroup]="formDate" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" [value]="flight.startDate">
        <input matEndDate formControlName="end" placeholder="End date" [value]="flight.endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <mat-accordion class="main__passenger-editor">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Passenger
          </mat-panel-title>
          <mat-panel-description>
            {{ passengerList }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="main__passenger-edit">
          <div class="main__passenger-option">
            <div class="main__passenger-label">
              <span class="main__passenger-kind" [ngStyle]="{color: adult ? '#11397E' : '#1C1B1F'}">Adult</span>
              <span class="main__passenger-clue">+14 years</span>
            </div>
            <div class="main__passenger-counter">
              <span class="main__passenger-minus" (click)="adultCounter(false)">-</span>
              <span class="main__passenger-count">{{adult}}</span>
              <span class="main__passenger-plus" (click)="adultCounter(true)">+</span>
            </div>
          </div>
        </div>
        <div class="main__passenger-edit">
          <div class="main__passenger-option">
            <div class="main__passenger-label">
              <span class="main__passenger-kind" [ngStyle]="{color: child ? '#11397E' : '#1C1B1F'}">Child</span>
              <span class="main__passenger-clue">2-14 years</span>
            </div>
            <div class="main__passenger-counter">
              <span class="main__passenger-minus" (click)="childCounter(false)">-</span>
              <span class="main__passenger-count">{{child}}</span>
              <span class="main__passenger-plus" (click)="childCounter(true)">+</span>
            </div>
          </div>
        </div>
        <div class="main__passenger-edit">
          <div class="main__passenger-option">
            <div class="main__passenger-label">
              <span class="main__passenger-kind" [ngStyle]="{color: infant ? '#11397E' : '#1C1B1F'}">Infant</span>
              <span class="main__passenger-clue">0-2 years</span>
            </div>
            <div class="main__passenger-counter">
              <span class="main__passenger-minus" (click)="infantsCounter(false)">-</span>
              <span class="main__passenger-count">{{infant}}</span>
              <span class="main__passenger-plus" (click)="infantsCounter(true)">+</span>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
